<ul>
  <li>
    <a href="" routerLink="buffer">Buffer</a>
    <a href="" routerLink="buffercount">Buffer Count</a>
    <a href="" routerLink="buffertime">Buffer Time</a>
    <a href="" routerLink="buffertoogle">Buffer Toogle</a>
    <a href="" routerLink="bufferwhen">Buffer When</a>
    <a href="" routerLink="take">Take</a>
    <a href="" routerLink="takelast">TakeLast</a>
    <a href="" routerLink="takeuntil">TakeUntil</a>
    <a href="" routerLink="takewhile">TakeWhile</a>
    <a href="" routerLink="skip">Skip</a>
    <a href="" routerLink="skiplast">SkipLast</a>
    <a href="" routerLink="skipuntil">SkipUntil</a>
    <a href="" routerLink="skipwhile">SkipWhile</a>
    <a href="" routerLink="distinct">Distinct</a>
    <a href="" routerLink="distinctuntilchanged">DistinctUntilChangedOperator</a>
    <a href="" routerLink="distinctuntilkeychanged">DistinctUntilKeyChangedOperator</a>
    <a href="" routerLink="filter">FilterOperator</a>
    <a href="" routerLink="sample">SampleOperator</a>
    <a href="" routerLink="audit">AuditOperator</a>
    <a href="" routerLink="debounce">DebounceOperator</a>
    <a href="" routerLink="map">MapOperator</a>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>